.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#ff6c16;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  color:black;
}

/* Custom page header */
.header {
  border-bottom: 1px solid ##ff6c16;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  margin-left:auto;
  margin-right:auto;
}

.marketing p + h4 {
  margin-top: 28px;
  color:#ff6319;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
    background-color:#BCBCBC;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
    background-color:##ff6c16;

  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.repeat{
  background-image:url("http://i.imgur.com/XZIvLIi.png?1");
  background-repeat:no-repeat;
  background-position:center;
  }
.more{
  background-image:url("http://i.imgur.com/4G4wsGG.png");
  background-repeat:no-repeat;
   background-position:center;


}
.thanks{
  background-image:url("http://i.imgur.com/FW9VqLW.png?2");
  background-repeat:no-repeat;
   background-position:center;

}
.dance{
  background-image:url("http://i.imgur.com/k0w1hqt.png?2");
  background-repeat:no-repeat;
 background-position:center;
 }
.rtBtn{

   background-color:white;
   display:inline-block;
   border-radius: 7px;
   height:50px;
   width:50px;

}
.saveBtn{
  margin-top: 10px;
    border-radius: 7px;

}
.showBtn{
  padding:20px;
  border-radius: 7px;
  background-color:white;
  display:inline-block;
  height:70px;
  width:70px;
  margin:20px;
}

.highlighted{
  background-color: green;
}


.container {
            max-width: 700px;
            margin-left:auto;
            margin-right:auto;
            float:center;
            background-color:#ff6c16;
        }

        #comments-container {
            border: 1px solid #d0d0d0;
            height: 400px;
            overflow-y: scroll;
        }

        .comment-container {
            padding: 10px;
            margin:6px;
            background: #f5f5f5;
            font-size: 13px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }

        .comment-container .label {
            margin-right: 20px;
        }

        .comment-container:last-of-type {
            border-bottom: none;
        }
